<div ng-controller="pxAlertLabelPredixCtrl as ctrl">
    <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-alert-label/px-alert-label.html" rel="import" dcy-on-load load-handler="ctrl.whenPredixalertLabelLibraryLoaded();">
    <px-alert-label id="{{ctrl.widgetID}}" type="{{ctrl.alertType}}" label="{{ctrl.alertLabelData}}"></px-alert-label>
</div>